# Archivos y directorios generados por .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.pidb
*.pdb
*.cache
*.bak
*.log
*.tlog
*.lastbuildstate


# Archivos temporales y de sistema
*~
*.swp
*.swm
*.swn
*.swo
*.swl
*.swk
*.tmp
*.bak
*.tmp_proj
*.log
.DS_Store
Thumbs.db
*.db
*.sqlite
*.sqlite3

# Archivos de configuración locales
appsettings.Development.json
appsettings.Local.json
*.pfx
*.crt
*.key

# Archivos y directorios generados por otros IDE y herramientas
.idea/
*.iml
*.ipr
*.iws
*.dll
*.exe
*.pdb
*.mdb
*.bak
*.cache
*.config
*.csproj.user
*.dbmdl
*.jfm
*.pidb
*.vbproj.user
*.vshost.*
*.vsp
*.vspscc
*.vssscc
